ZenAppClient/ZenAppClient/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSongNameById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="songId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSongNameByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSongNameByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomSong">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomSongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomSongResult" type="tns:Song" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Song">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SongCountry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SongYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SongArtist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SongName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SongLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SongPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyGuess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="guessedYear" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guessedCountry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyGuessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyGuessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHintYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHintYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHintYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHintCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHintCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHintCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isCorrect" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomAnswerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="points" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePointsResponse">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartNewRound">
        <s:complexType />
      </s:element>
      <s:element name="StartNewRoundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartNewRoundResult" type="tns:ArrayOfSong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLeaderBoard">
        <s:complexType />
      </s:element>
      <s:element name="GetLeaderBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeaderBoardResult" type="tns:ArrayOfValueTupleOfStringString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfValueTupleOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfStringString" type="tns:ValueTupleOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValueTupleOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsSuges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SongCountry" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SongYear" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SongName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SongArtist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SongLink" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsSugesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSongNameByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSongNameById" />
  </wsdl:message>
  <wsdl:message name="GetSongNameByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSongNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomSongSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomSong" />
  </wsdl:message>
  <wsdl:message name="GetRandomSongSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomSongResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyGuessSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyGuess" />
  </wsdl:message>
  <wsdl:message name="VerifyGuessSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyGuessResponse" />
  </wsdl:message>
  <wsdl:message name="GetHintYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetHintYear" />
  </wsdl:message>
  <wsdl:message name="GetHintYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetHintYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetHintCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetHintCountry" />
  </wsdl:message>
  <wsdl:message name="GetHintCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetHintCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomAnswer" />
  </wsdl:message>
  <wsdl:message name="GetRandomAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePointsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePoints" />
  </wsdl:message>
  <wsdl:message name="UpdatePointsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePointsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="StartNewRoundSoapIn">
    <wsdl:part name="parameters" element="tns:StartNewRound" />
  </wsdl:message>
  <wsdl:message name="StartNewRoundSoapOut">
    <wsdl:part name="parameters" element="tns:StartNewRoundResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaderBoardSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeaderBoard" />
  </wsdl:message>
  <wsdl:message name="GetLeaderBoardSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeaderBoardResponse" />
  </wsdl:message>
  <wsdl:message name="InsSugesSoapIn">
    <wsdl:part name="parameters" element="tns:InsSuges" />
  </wsdl:message>
  <wsdl:message name="InsSugesSoapOut">
    <wsdl:part name="parameters" element="tns:InsSugesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetSongNameById">
      <wsdl:input message="tns:GetSongNameByIdSoapIn" />
      <wsdl:output message="tns:GetSongNameByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomSong">
      <wsdl:input message="tns:GetRandomSongSoapIn" />
      <wsdl:output message="tns:GetRandomSongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyGuess">
      <wsdl:input message="tns:VerifyGuessSoapIn" />
      <wsdl:output message="tns:VerifyGuessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHintYear">
      <wsdl:input message="tns:GetHintYearSoapIn" />
      <wsdl:output message="tns:GetHintYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHintCountry">
      <wsdl:input message="tns:GetHintCountrySoapIn" />
      <wsdl:output message="tns:GetHintCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomAnswer">
      <wsdl:input message="tns:GetRandomAnswerSoapIn" />
      <wsdl:output message="tns:GetRandomAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePoints">
      <wsdl:input message="tns:UpdatePointsSoapIn" />
      <wsdl:output message="tns:UpdatePointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartNewRound">
      <wsdl:input message="tns:StartNewRoundSoapIn" />
      <wsdl:output message="tns:StartNewRoundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <wsdl:input message="tns:GetLeaderBoardSoapIn" />
      <wsdl:output message="tns:GetLeaderBoardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsSuges">
      <wsdl:input message="tns:InsSugesSoapIn" />
      <wsdl:output message="tns:InsSugesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSongNameById">
      <soap:operation soapAction="http://tempuri.org/GetSongNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomSong">
      <soap:operation soapAction="http://tempuri.org/GetRandomSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyGuess">
      <soap:operation soapAction="http://tempuri.org/VerifyGuess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHintYear">
      <soap:operation soapAction="http://tempuri.org/GetHintYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHintCountry">
      <soap:operation soapAction="http://tempuri.org/GetHintCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomAnswer">
      <soap:operation soapAction="http://tempuri.org/GetRandomAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePoints">
      <soap:operation soapAction="http://tempuri.org/UpdatePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewRound">
      <soap:operation soapAction="http://tempuri.org/StartNewRound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <soap:operation soapAction="http://tempuri.org/GetLeaderBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsSuges">
      <soap:operation soapAction="http://tempuri.org/InsSuges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSongNameById">
      <soap12:operation soapAction="http://tempuri.org/GetSongNameById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomSong">
      <soap12:operation soapAction="http://tempuri.org/GetRandomSong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyGuess">
      <soap12:operation soapAction="http://tempuri.org/VerifyGuess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHintYear">
      <soap12:operation soapAction="http://tempuri.org/GetHintYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHintCountry">
      <soap12:operation soapAction="http://tempuri.org/GetHintCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomAnswer">
      <soap12:operation soapAction="http://tempuri.org/GetRandomAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePoints">
      <soap12:operation soapAction="http://tempuri.org/UpdatePoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewRound">
      <soap12:operation soapAction="http://tempuri.org/StartNewRound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <soap12:operation soapAction="http://tempuri.org/GetLeaderBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsSuges">
      <soap12:operation soapAction="http://tempuri.org/InsSuges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44327/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44327/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>